.codehilite{
    background-color: #0d1117;
    border-radius: 10px;
    padding: 0.1rem 1rem;
    margin-bottom: 0.75rem;
}

.codehilite pre{
    line-height: 125%;
    white-space: pre-wrap;       /* Wrap long lines */
    word-wrap: break-word;       /* Break words if needed */
    overflow-wrap: anywhere; 
}

.toc {
    float: right;
    width: 15rem;          /* fixed width for sidebar */
    margin-left: 20px;     /* spacing from main content */
    margin-bottom: 20px;   /* spacing below TOC */
}

.content{
    overflow: hidden; 
}