        <div class="profile-info">
            <div class="social-media">
                {{ SOCIAL-MEDIA }}
            </div>
            <img class="profile-img" src="https://bucket-cdn.devlix.org/{{ USERNAME }}/profile.jpeg" alt="profile picture">
            <div class="profile-text">
                {{ PROFILE-TEXT }}
            </div>
        </div>

        <!-- -------------------------------------------------------------------------------------------- -->
        
        <div class="blog-posts">
            {{ POSTS }}
        </div>