<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{PAGE-TITLE} - @{USERNAME}</title>
{CSS-LINKS}
</head>
<body>
    <div class="container">
    <header>
        <p><a href="https://{DOMAIN}">{WEBSITE-NAME}</a></p>
        <div class="user">
            <p><a href="https://devlix.org/">devlix.org</a></p>
            <p>·</p>
            <p><a href="https://devlix.org/@{USERNAME}">@{USERNAME}</a></p>
        </div>
    </header>
    <main>
        <div class="asci-center">
            <a class="asci-link" href="https://devlix.org/@USERNAME">
                <pre class="asci">{ASCI-ART}</pre>
            </a>
        </div>
        {MAIN}
    </main>
    <footer>
        <p>Powered by <a href="https://devlix.org/">devlix.org</a></p>
        <p class="privacy">
            <a href="https://devlix.org/privacy-policy">Privacy Policy</a>
            <a href="https://devlix.org/tos">Terms Of Service</a>
        </p>
    </footer>
    </div>
</body>
</html>